<header>
    <img src="assets/images/arkanoid-logo.svg" alt="logo">
    <nav>
      <ul>
        <li><a href="/"> PLAY </a></li>
        <li><a href="/createlevel"> CREATE </a></li>
        <li><a href="/levellist"> SELECT LEVEL </a></li>
      </ul>
    </nav>
  </header>